extends layout

block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row
          .col-sm-12.mb20
            p.lead.text-center.flipInY-animated.flipInY.animated
              | Logros
              b                
        .row(style="margin-bottom: 10px;")
          div(style="text-align: center;")
            strong Logros ocultos: #{hiddenCount}
          div(style="text-align: center;")
            strong Total de logros: #{hiddenCount + achievements.length}
        .row
          each a in achievements
            .col-md-4(style="height: 150px; margin-bottom: 7px;")
              .achievement-log(style="border: 2px solid #eee; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; padding: 5px;")
                i.pull-right
                  img(src=a.img, style="width: 50px; height: 50px;")
                h4 #{a.name}
                p #{a.description}
          
    // /content
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')