extends layout
  
block content
    link(href='sockets/chat/css/chat.css', rel='stylesheet')
    link(href='sockets/chat/css/jquery-ui.min.css', rel='stylesheet')
    link(href='sockets/chat/css/jquery-ui.structure.min.css', rel='stylesheet')
    link(href='sockets/chat/css/jquery-ui.theme.min.css', rel='stylesheet')
    link(href='emojis/css/basic/emojify.min.css', rel='stylesheet')
    link(href='emojis/css/data-uri/emojify-emoticons.min.css', rel='stylesheet')
    link(href='emojis/css/data-uri/emojify.min.css', rel='stylesheet')
    link(href='autocomplete/autocomplete.css', rel='stylesheet')
    link(href='sockets/chat/css/helptip.css', rel='stylesheet')
    // Enter Room
    #roomEnter.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Cerrar
            h4#eRoomLabel.modal-title ENTRAR EN SALA
          .modal-body
            form(id="roomEnterForm", role='form', method='post')
              .form-group
                label(for='roomSelection') Selecciona sala:
                select#roomSelection.form-control(name="room_id")
                  each r in rooms
                    option(value=r._id, class=((context.user.permissions.admin || r.founder_id == context.user._id || (r.public && (r.bans == undefined || r.bans.indexOf(context.user.nickname) < 0)) || (!r.public && r.perms != undefined && r.perms.indexOf(context.user.nickname) > -1)) ? "publicRoomItem" : "privateRoomItem")) #{r.name} (#{r.uCount})
            // /form
          .modal-footer
            button.btn.btn-rw.btn-primary(type='button', onclick="tryEnterRoom()") Entrar
        // /modal content
      // /modal dialog
    // /modal holder
    // END Enter Room
    // User Chat
    #userChat.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Cerrar
            h4#chatLabel.modal-title ABRIR CHAT PERSONAL
          .modal-body
            form(id="userChatForm", role='form', method='post')
              .form-group
                label(for='userSelection') Selecciona usuario:
                select#userSelection.form-control(name="user_id")
                  each u in context.users
                    - if (u._id != context.user._id) {
                    option(value=u._id, class="not-connected-user") #{u.alias} (Desconectado)
                    - }
            // /form
          .modal-footer
            button.btn.btn-rw.btn-primary(type='button', onclick="tryEnterPersonalChat()") Abrir
        // /modal content
      // /modal dialog
    // /modal holder
    // END User Chat
    // Create Room
    #createRoom.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Cerrar
            h4#cRoomLabel.modal-title CREAR SALA
          .modal-body
            form(id="createRoomForm", role='form', method='post', action="#")
              .form-group
                input.form-control(id='roomName', name='room_name', placeholder='Nombre de la sala', min-lenght='5', max-length='40', onkeypress="pressEnterCreateRoom(event)")
              .form-group
                label Sala privada:
                input(id="roomPrivate", style="display: inline-block; margin-left: 5px;", type="checkbox", class="checkbox", name="private", checked=false)
            // /form
          .modal-footer
            button.btn.btn-rw.btn-primary(type='button', onclick="createRoom()") Crear
        // /modal content
      // /modal dialog
    // /modal holder
    // END Create Room
    // Manage Room
    #editRoom.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Cerrar
            h4#mRoomLabel.modal-title ADMINISTRAR SALA
          .modal-body
            form(id="editRoomForm", role='form', method='post', action="#")
              input(id="editRoomId", type='hidden')
              .form-group
                input.form-control(id='editRoomName', name='edit_room_name', placeholder='Nombre de la sala', min-lenght='5', max-length='40', onkeypress="pressEnterEditRoom(event)")
              .form-group
                label Sala privada:
                input(id="editRoomPrivate", style="display: inline-block; margin-left: 5px;", type="checkbox", class="checkbox", name="private", onclick="changePrivateRoom()")
              div(class="row")
                div(class="help-tip")
                  p(id="infoRoomAccess")
              .form-group(id="editUsersContent")
                span(class="input-group-btn")
                  button(type="button", class="btn btn-info", onclick="editAddUser()", title="AÃ±adir a la lista.")
                    span(class="glyphicon glyphicon-plus")
                  button(type="button", class="btn btn-danger", onclick="editRemoveUser()", title="Eliminar de la lista.")
                    span(class="glyphicon glyphicon-minus")
            // /form
          .modal-footer
            button.btn.btn-rw.btn-primary(type='button', onclick="editRoom()") Guardar
            button.btn.btn-rw.btn-danger(type='button', onclick="deleteRoom()") Eliminar
        // /modal content
      // /modal dialog
    // /modal holder
    // END Manage Room
    .row.buttonrow(style="text-align: center;")
      col-md-3
        a.button.button-glow.button-border.button-rounded.button-primary(data-toggle='modal', data-target='#roomEnter', style="margin: 5px;") ENTRAR EN SALA
      - if (context.user.permissions.admin) {
      col-md-3.col-md-offset-1(id="createRoomButton")
        a.button.button-glow.button-border.button-rounded.button-primary(data-toggle='modal', data-target='#createRoom',style="margin: 5px;") CREAR SALA
      - } else {
      -   var maxRooms = context.user.level < 2 ? 0 : context.user.level < 3 ? 1 : context.user.level < 5 ? 2 : 3;
      -   var roomsCreated = 0;
      -   for (var i = 0; i < rooms.length; i++) {
      -     if (rooms[i].founder_id.toString() == context.user._id.toString()) {
      -        roomsCreated++;
      -     }
      -   }
      -   if (roomsCreated < maxRooms) {
      col-md-3.col-md-offset-1(id="createRoomButton")
        a.button.button-glow.button-border.button-rounded.button-primary(data-toggle='modal', data-target='#createRoom',style="margin: 5px;") CREAR SALA
      -   }
      - }
      col-md-3.col-md-offset-1
        a.button.button-glow.button-border.button-rounded.button-primary(data-toggle='modal', data-target='#userChat',style="margin: 5px;") ABRIR CHAT PERSONAL
    .row.conversations
    .row.bootstrap.snippets.chatbox
    .div(style="text-align: center; background-color: #eee;")
      small
        a(href='/emojisguide', target="_blank") Guía de emojis
        // Javascript Files
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/jquery.easing.min.js')
        script(type='text/javascript', src='js/jquery.mixitup.min.js')
        script(type='text/javascript', src='js/scrollReveal.js')
        script(type='text/javascript', src='js/owl.carousel.min.js')
        script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
        script(type='text/javascript', src='js/jquery.snippet.min.js')
        script(type='text/javascript', src='js/jquery.fitvids.js')
        script(type='text/javascript', src='js/style-switcher.js')
        // Remove for production
        script(type='text/javascript', src='js/activate-snippet.js')
        script(type='text/javascript', src='js/skrollr.min.js')
        // On Scroll Animations - scrollReveal.js
        script.
          var config = {
            easing: 'hustle',
            mobile:  true,
            delay:  'onload'
          }
          window.sr = new scrollReveal( config );
        // Main Javascript
        script(type='text/javascript', src='js/main.js')
        script(type='text/javascript', src='sockets/chat/js/jquery-ui.min.js')
        script(type='text/javascript', src='sockets/chat/js/room.js')
        script(type='text/javascript', src='sockets/chat/js/personalChat.js')
        script(type='text/javascript', src='emojis/js/emojify.min.js')
        script(type='text/javascript', src='sockets/chat/js/chat.js')
        script(type='text/javascript', src='autocomplete/typeahead.bundle.js')
        script(type='text/javascript', src='autocomplete/usersAutocomplete.js')
        script(type='text/javascript').
          var currentUsers = !{JSON.stringify(context.users)}
        script(type='text/javascript').
          var uConv = !{JSON.stringify(uConv)}
