extends layout

block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row
          .col-sm-12.mb20
            p.lead.text-center.flipInY-animated.flipInY.animated
              b
                mark #{category.title}
        - if (context.user) {
        .row(style="text-align: center;")
          a.button.button-glow.button-border.button-rounded.button-primary(href='/newpost' + (category._id != undefined ? '?c=' + category._id : ''), style="width:50%; margin-bottom: 10px;") Crear post
        - }
        .row
            // Blog Posts
            each p, index in posts
              .col-sm-4.postItem
                .blog-post.mb40(class=(p.fixed ? "fixed " : "") + (userList[index].visited ? "" : "not-visited"))
                  .view.image-hover-1.no-margin.center-cropped(style="background-image: url('" + p.display_img + "');")
                    // Blog Thumb
                    img.img-responsive(src=p.display_img)
                    .mask
                      .image-hover-content
                        // Zoom + Blog Link
                        a.info.image-zoom-link(href=p.display_img)
                          .image-icon-holder
                            span.ion-ios7-search.image-icons
                        a.info(href='/post?pid=' + p._id)
                          .image-icon-holder
                            span.ion-link.image-icons
                      // /image hover content
                    // /mask
                  // /image hover
                  .blog-post-holder
                    ul.list-inline.posted-info
                      i.pull-right
                        small #{userList[index].commentsCount} &nbsp;
                        i.fa.fa-comment
                      li
                        | Por 
                        a(href='/viewuser?user=' + userList[index].owner_nickname, title=userList[index].owner_nickname) #{userList[index].owner_alias}
                      li Última actualización: #{userList[index].dateTime}
                    hr.mt15.mb10(align='left', style='width:50px;')
                    h2
                      a(href='/post?pid=' + p._id) #{p.title}
                    p !{p.content}
                    a.btn.btn-rw.btn-primary.mt10(href='/post?pid=' + p._id) Leer más
          .row
            .col-sm-12
              nav.text-center
                ul.pagination.no-margin
                  - if (pages.current > 0) {
                  li
                    a(href='/forum?from=' + (pages.current * 9 - 9) + (category._id != undefined ? '&c=' + category._id : ''), aria-label='Previous')
                      span(aria-hidden='true') «
                  - }
                  - for(var index = 0; index < pages.count; index++) {
                  li(class= index == pages.current ? "active" : "")
                    a(href='/forum?from=' + (index * 9) + (category._id != undefined ? '&c=' + category._id : '')) #{index+1}
                  - }
                  - if (pages.current < pages.count-1) {
                  li
                    a(href='/forum?from=' + (pages.current * 9 + 9) + (category._id != undefined ? '&c=' + category._id : ''), aria-label='Next')
                      span(aria-hidden='true') »
                  - }
          - if(context.user) {
          .row(style="text-align: center;")
            a(href='#', onclick="readAll()")
              small Marcar todo como leído
          - } 
    // /content
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/animagens/forum.js')