extends layout

block content
    // Begin Video + Intro
    #about.background-light-grey.pt50.pb50
      .container
        // Begin Accordion Row
        .row
          // /column
          .col-sm-12
            small 16/02/2016
            .heading.mb20
              h4
                | Animagens cumple un mes
            p
              | Animagens lleva ya un mes oficialmente en marcha en su fase Beta, y queremos daros las gracias a todos los que estáis con nosotros.
            p Todos hemos ido viendo con ilusión como la página ha ido creciendo en funcionalidad y apariencia, haciendo que algunas cosas se vuelvan más cómodas de usar y trayendonos cosas tan chulas como los niveles, la experiencia y los logros.
            p Sin embargo, aún nos queda mucho por hacer antes de traer Animagens al resto del mundo.
            p Hay algunas funcionalidades que aún tenemos que implementar (como el aviso por correo de notificaciones) y algunas increíbles sorpresas más por llegar.
              | Por eso, intentaremos que para finales de este mes tengamos un lugar lo suficientemente estable, divertido y reluciente como para poder empezar a enchufar los altavoces y hacer saber a todos las maravillosas experiencias que podemos ofrecer.
            p Hemos sido ya testigos de muchas obras publicadas en este sitio que desde luego valen el tiempo invertido en experimentarlas. Hay algunas divertidas, otras oscuras, misteriosas, sobrenaturales, bélicas...
            p Queremos agradeceros a todos los maravillosos autores que comparten esos mundos que de otra forma solo existirían en su mente con todos nosotros.
            p Espero que sigamos disfrutando de tanta calidad de contenido y de personas durante mucho tiempo.
          // /column
        // /row
        // End Accordion Row
      // /container
    // /content
    // End Video + Intro
    // Begin Carousel
    #slider3.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators.carousel-indicators-caption.hidden-lg.hidden-md
        li.active(data-target='#slider3', data-slide-to='0')
      // Wrapper for slides
      .carousel-inner
        .item.active
          a(href='/forum')
            img.img-responsive(src='img/animagens.png', alt='Animagens', style="background-color: white;")
    #about.background-light-grey.pt50.pb50
      .container
        // Begin Accordion Row
        .row
          // /column
          .col-sm-12
            small 18/01/2016
            .heading.mb20
              h4
                | Animagens ya es una realidad
            p
              | Animagens empieza hoy oficialmente la fase beta. Hemos estado trabajando duro este invierno para traeros una página genial con la que poder interactuar.
            p Sin embargo, esto es solo el principio. Ahora mismo, tenemos una base. Un foro donde poder postear temas, comentar y chatear.
            p Esta robusta base nos servirá como fundamento para las demás expansiones y sorpresas que nos esperan durante las próximas semanas.
            p La página está recién salida del horno y es normal que ciertas funcionalidades puedan resultar incompletas o inestables.
              | Por eso, desde aquí os pedimos paciencia y que contactéis con nosotros si encontrais algo que quisierais que fuera mejor. El equipo se encargará de resolverlo lo antes posible.
            p Más abajo podréis ver un calendario con las actividades y objetivos que nos hemos propuesto para los próximos meses.
            p Esto es todo por ahora, esperamos poder seguir divirtiendonos juntos muy pronto.
          // /column
        // /row
        // End Accordion Row
      // /container
    // /content
    // End Video + Intro
    // Begin Video + Intro
    #about.background-light-grey.pt50.pb50
      .container
        // Begin Accordion Row
        .row
          // /column
          .col-sm-12
            small 11/01/2016
            .heading.mb20
              h4
                | Objetivo: 18 de Enero
            p
              | Animagens abre sus puertas oficialmente el próximo Lunes.
              | Con tal de conseguir ese objetivo, el equipo está trabajando día y noche para traeros lo mejor que nuestro esfuerzo puede traer.
            p
              | Entre otras fantásticas cosas, nuestros objetivos son los siguientes:
            // List
            ul.list-arrow-2-color
              li
                small Chat plenamente funcional, fluido e integrado con el resto de la web.
              li
                small Sistema de posts, categorias y valoraciones personalizadas.
              li
                small Sistema de experiencia y subida de nivel
              li
                small Notificaciones y avisos personalizados.
              li
                small Tienda de regalos.
              li
                small Mucho, mucho más...
          // /column
        // /row
        // End Accordion Row
      // /container
    // /content
    // End Video + Intro
    // Begin Skills
    .pt40.mb40.border-top
      .container
        // Title
        .row
          .col-sm-12
            p.lead.text-center
              | Las
              b
                mark Claves
              br
            hr(style='width:200px')
        .row
          // Content 1
          .col-sm-4(data-sr='enter left over 1s')
            h4
              span.ion-beaker.bordered-icon-sm.mr15
              |  Experimenta.
            p.no-margin
              | Debate, recoge ideas de tu entorno, mézcla con lo que sabes y crea alocados experimentos que compartir con los demás.
          // Content 2
          .col-sm-4.mt20-xs(data-sr='enter top over 1s')
            h4
              span.ion-beer.bordered-icon-sm.mr15
              |  Diviértete.
            p.no-margin
              | Sorpréndete con las alocadas aventuras que se crean a nuestro alrededor y participa de la forma más ridícula que puedas imaginar.
          // Content 3
          .col-sm-4.mt20-xs(data-sr='enter right over 1s')
            h4
              span.ion-home.bordered-icon-sm.mr15
              |  Relájate.
            p.no-margin
              | Encuéntrate con nuestra cálida bienvenida y desconecta de todo disfrutando de las cosas más simples como una pequeña charla o unas risas improvisadas.
        .row.mt20
          // Content 4
          .col-sm-4(data-sr='enter left over 1s')
            h4
              span.ion-android-camera.bordered-icon-sm.mr15
              |  Crea.
            p.no-margin
              | Da rienda suelta a tu creatividad. Muestra al mundo cosas que no se han visto antes o modifica lo que todos conocemos para convertirlo en algo completamente tuyo y diferente.
          // Content 5
          .col-sm-4.mt20-xs(data-sr='enter bottom over 1s')
            h4
              span.ion-android-earth.bordered-icon-sm.mr15
              |  Comunícate.
            p.no-margin
              | Disfruta del contacto y los ánchos canales de diálogo de los que disponemos. Tanto si te cuesta un poco soltarte como si no, siempre habrá un lugar para ti.
          // Content 6
          .col-sm-4.mt20-xs(data-sr='enter right over 1s')
            h4
              span.ion-android-lightbulb.bordered-icon-sm.mr15
              |  Imagina.
            p.no-margin
              | En Animagens nos encantan los proyectos reales y los hechos, pero todo gran proyecto empieza con una idea. Este es un buen lugar para desarrollar esas ideas.
      // /container
    // /cta
    // End Skills
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
        easing: 'hustle',
        mobile:  true,
        delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
