doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='author', content='Santi Ruiz')
    meta(name='description', content='Animagens | Foro para gente creativa')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='img/favicon.png', rel='shortcut icon', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    title #{context.title}
    // Royal Preloader CSS
    link(rel='stylesheet', type='text/css', href='css/royal_preloader.css')
    // jQuery Files
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='js/jquery.form.js')
    // Royal Preloader
    script(type='text/javascript', src='js/royal_preloader.min.js')
    script(type='text/javascript', src='js/animagens/utils.js')
    script(type='text/javascript', src='js/bootstrap-slider.min.js')
    script(type='text/javascript', src='tinyMCE/tinymce.min.js')
    // Stylesheets
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet', title='main-css')
    link(href='css/bootstrap-social.css', rel='stylesheet')
    link(href='css/animate.min.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/jquery.snippet.css', rel='stylesheet')
    link(href='css/buttons.css', rel='stylesheet')
    link(href='css/bootstrap-slider.min.css', rel='stylesheet')
    link(href='css/datepicker/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
    link(href='js/colorpicker/css/bootstrap-colorpicker.min.css', rel='stylesheet')
    // Alternate Stylesheets / choose what color you want and include regularly AFTER style.css above
    link(rel='alternate stylesheet', type='text/css', href='css/colors/blue.css', title='blue')
    // Icon Fonts
    link(href='css/ionicons.min.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.css', rel='stylesheet', type='text/css')
    // Magnific Popup
    link(href='css/magnific-popup.css', rel='stylesheet', type='text/css')
  body.royal_preloader.scrollreveal(onfocus="clearNotifications()", onblur="windowGone()")
    #royal_preloader
    // Begin Boxed or Fullwidth Layout
    #bg-boxed
      .boxed
        // Begin Header
        header
          // Begin Top Bar
          .top-bar
            .container
              .row
                // Address
                .col-sm-7.hidden-xs
                  small.address
                    small v#{context.version}
                    a(href='mailto:soporte@animagens.es')  soporte@animagens.es
                // Social Buttons
                .col-sm-5.text-right
                  ul.topbar-list.list-inline
                    li
                      a.btn.btn-social-icon.btn-rw.btn-primary.btn-xs(href="https://twitter.com/animagensweb", target="_blank")
                        i.fa.fa-twitter
                    - if (!context.user) {
                    li
                      a(data-toggle='modal', data-target='#login') Entrar
                    li
                      a(href='/register') Registrarse
                    - } else {
                    li
                      a(href='/viewuser?user=' + context.user.nickname) Bienvenido/a #{context.user.nickname} (Nivel #{context.user.level})
                    li
                      a(href='/logout') Desconectar
                    - }
              // /row
            // /container header
          // /top bar
          // End Top Bar
          // Login
          #login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Cerrar
                  h4#loginLabel.modal-title Entrar
                .modal-body
                  form(id="loginform", role='form', method='post', action="login")
                    .form-group
                      label(for='layoutloginuser') Usuario o Email
                      input#layoutloginuser.form-control(name="layoutloginuser", type='text', placeholder="Usuario o Email", required, maxlength="80")
                    .form-group
                      label(for='layoutloginpassword') Password
                      input#layoutloginpassword.form-control(type="password", name="layoutloginpassword", class="form-control", placeholder="Password", required, minlength="7", maxlength="40", onkeypress="passwordPressed(event)")
                    .form-group
                      a(href='/register') ¿No tienes cuenta? ¡Regístrate!
                    .form-group
                      a(href='#' onclick='sendLayoutRequestPass()') ¿Has olvidado la contraseña? Solicita una nueva
                  // /form
                .modal-footer
                  button.btn.btn-rw.btn-primary(type='button', onclick="login()") Entra
              // /modal content
            // /modal dialog
          // /modal holder
          // End Login
          // Upload Image
          #uploadImage.modal.fade(tabindex='-1', role='dialog', aria-labelledby='uploadLabel', aria-hidden='true')
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only Cerrar
                  h4#uploadLabel.modal-title Subir imagen
                .modal-body
                  .form-group
                    label(for='imageupload') URL:
                    input#imageupload.form-control(type='url', placeholder="Pega URL de la imagen", maxlength="500")
                  // /form
                .modal-footer
                  button.btn.btn-rw.btn-primary(type='button', onclick="uploadImage(onImageUploaded)") Guardar
              // /modal content
            // /modal dialog
          // /modal holder
          // End Upload Image
          // Begin Navigation
          .navbar-wrapper
            #fixed-navbar.navbar.navbar-main
              .container
                .row
                  .col-sm-12.column-header
                    .navbar-header
                      - if (context.user) {
                      .progress.slim(title='Nivel: ' + context.user.level + ' Experiencia: ' + context.ubox.experience + '/' + ((context.user.level+1)*100), style="margin: 0px;")
                        .progress-bar.progress-bar-striped.progress-bar-primary(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: ' + (context.ubox.experience*100/((context.user.level+1)*100)) + '%')
                          span.sr-only Experiencia: #{context.ubox.experience}
                      - }
                      // Mobile Navigation
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navHeaderCollapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                      // Brand
                      a.navbar-brand.navbar-brand-centered(href='/')
                        img.raleway-logo(src='img/favicon.png', alt='Animagens')
                    // /navbar header
                    // Main Navigation - Explained in Documentation
                    nav.navbar-collapse.collapse.navHeaderCollapse(role='navigation')
                      - if (context.user) {
                      .progress.slim(title='Nivel: ' + context.user.level + ' Experiencia: ' + context.ubox.experience + '/' + ((context.user.level + 1) * 100), style="margin: 0px;")
                        .progress-bar.progress-bar-striped.progress-bar-primary(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: ' + (context.ubox.experience*100/((context.user.level+1)*100)) + '%')
                          span.sr-only Experiencia: #{context.ubox.experience}
                      - }
                      ul.nav.navbar-nav
                        li
                          a(href='/')
                            | Inicio
                        li.dropdown.mega-dropdown.dropdown-main
                          a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Categorías
                            span.fa.fa-angle-down.dropdown-arrow
                          ul.dropdown-menu.dropdown-subhover.mega-dropdown-menu.row.dropdown-animation.animated.fadeIn
                            // Control Animations by changing "fadeIn" to another property from animate.css, check animations page in features / ALSO dropdown-animation class controls the duration, ajust if need
                            li.col-lg-2.col-md-3.col-sm-6
                              ul
                                li.dropdown-header Categorías
                                li
                                  a(href="/forum")
                                    span.fa.fa-angle-right.mega-dropdown-arrow
                                    |  Actividad reciente
                                each c, index in context.categories
                                  - if (index < 4) {
                                  li
                                    a(href='/forum?c=' + c._id)
                                      span.fa.fa-angle-right.mega-dropdown-arrow
                                      |  #{c.title}
                                  - }
                            li.col-lg-2.col-md-3.col-sm-6.mt15-xs
                              ul
                                li.dropdown-header ----------------
                                each c, index in context.categories
                                  - if (index >= 4) {
                                  li
                                    a(href='/forum?c=' + c._id)
                                      span.fa.fa-angle-right.mega-dropdown-arrow
                                      |  #{c.title}
                                  - }
                        - if (context.user) {
                        li
                          a(href='/chatbox')
                            | Chat
                        li
                          a(href=context.user ? '/newpost' : '/register')
                            | Crear
                        - }
                      // /navbar
                      ul.nav.navbar-nav.navbar-right
                        - if (context.user) {
                        li
                          a(href='/notifications')
                            | Notificaciones
                        li
                          a(href=context.user ? '/shop' : '/register')
                            | Tienda
                        li
                          a(href=context.user ? ('/viewuser?user=' + context.user.nickname) : '/register')
                            | Perfil
                        li.dropdown.hidden-sm.hidden-xs
                          a.ml10.nav-circle-li.dropdown-toggle.dropdown-form-toggle(id="notBell", href='#', data-toggle='dropdown', class=(context.notReadNots > 0 ? "not-visited" : ""))
                            i.fa.fa-bell
                              small(id="notCount", style="color: green; display: " + (context.notReadNots > 0 ? 'inline;' : 'none;')) #{context.notReadNots}
                          ul.fadeInUp-animated.dropdown-menu.dropdown-menu-user.cart(style="max-height: 500px; overflow-y: auto;")
                            li#dropdownForm
                              .dropdown-form
                                table.table.table-hover.no-margin
                                  thead
                                    tr
                                      th.quantity Notificaciones
                                  tbody#notList
                                    each not in context.notifications
                                      tr
                                        td.product(id=not._id, onmouseover="watchNot('" + not._id + "')", class=(not.watched ? "watched" : ""))
                                          - if (not.img != undefined) {
                                          i.pull-right
                                            img(style="width:25px; height: 25px;", src=not.img)
                                          - }
                                          span
                                            a(href=not.link, target="_blank") #{not.title}
                                          span.small #{not.content}
                                  tfoot
                                    tr
                                      td.text-right(colspan='3')
                                        a(href='/notifications')
                                          button.btn.btn-rw.btn-primary.btn-sm Ver todas
                              // /dropdown form
                            // /dropdownForm list item
                          // /cart dropdown
                        // /cart navbar list item
                        - }
                        li.dropdown.hidden-sm.hidden-xs
                          a.ml10.nav-circle-li.dropdown-toggle.dropdown-form-toggle(href='#', data-toggle='dropdown')
                            i.fa.fa-search
                          ul.fadeInRight-animated.dropdown-menu.dropdown-menu-user
                            li#dropdownForm
                              .dropdown-form
                                form.form-default.form-inline.p15(action="search")
                                  .input-group
                                    input#searchInput.form-control.search-input(name="q", type='text', placeholder='Buscar...')
                                    span.input-group-btn
                                      button#btnSearch.btn.btn-rw.btn-primary.search-btn(type='button', onclick="search($('#searchInput').val())") Go!
                                // /searh form
                              // /dropdown form
                            // /dropdownForm list item
                          // /search dropdown
                        // /search navbar list item
                        li.dropdown.hidden-sm.hidden-xs
                          a.ml10.nav-circle-li.dropdown-toggle.dropdown-form-toggle(href='#', data-toggle='dropdown')
                            i.fa.fa-users
                              small(id="userCount", style="color: green; display: inline;") #{context.connectedUsers.length}
                          ul.fadeInUp-animated.dropdown-menu.dropdown-menu-user.cart(style="max-height: 500px; overflow-y: auto;")
                            li#dropdownForm
                              .dropdown-form
                                table.table.table-hover.no-margin
                                  thead
                                    tr
                                      th.quantity Usuarios conectados
                                  tbody#usersLayoutList
                                    each u in context.connectedUsers
                                      tr
                                        td(id=u._id + '-layoutlist', class='product connected-user' title=u.nickname)
                                          span
                                            a(href='/viewuser?user=' + u.nickname) #{u.alias}
                                // /searh form
                              // /dropdown form
                            // /dropdownForm list item
                          // /search dropdown
                        // /search navbar list item
                        - if (context.user) {
                        li.dropdown.hidden-sm.hidden-xs
                          a.ml10.nav-circle-li.dropdown-toggle.dropdown-form-toggle(href='#', onclick='soundSwitch()')
                            -if (context.user.sound_enabled) {
                            i.fa.fa-volume-up(id="soundButton")
                            - } else {
                            i.fa.fa-volume-off(id="soundButton")
                            - }
                        - }
                      // /navbar right
                    // /nav
              // /container header
            // /navbar
          // /navbar wrapper
          // End Navigation
          // Begin Page Header
          .header
            .container
              .row
                // Page Title
                .col-sm-6.col-xs-12
                  h1 #{context.title}
                // Breadcrumbs
                .col-sm-6
                  ol.breadcrumb
                    li
                      span.ion-home.breadcrumb-home
                      a(href='/') Inicio
                    each n in context.navhistory
                      li
                        a(href=n.link) #{n.title}
                // /column
              // /row
           // /container
          // /page header
        // /header
        // End Header
        div(id="alert", role="alert", style="display: none;")
          button(type="button", class="close", aria-label="Close", onclick="closeAlert()")
            span(aria-hidden="true") &times;
          div(id="alertContent")
        block content
        
        // Begin Footer
        footer.footer.footer-light
          .container
            .row
              // About
              .col-sm-4.mb30-xs
                img.img-responsive.mb20(src='img/animagens.png', style='width:130px', alt='Logo Footer')
                strong Versión #{context.version}
                p
                  | Animagens es un foro pensado y creado por gente creativa a la que le encanta compartir todas las ideas y locuras que se nos pasan por la cabeza.
              // Contact
              .col-sm-4.mg25-xs
                .heading-footer
                  h4 Contáctanos
                p
                  span.ion-email.footer-info-icons
                  small.address
                    a(href='mailto:soporte@animagens.es') soporte@animagens.es
              // Social
              .col-sm-4.mg25-xs.text-center
                .heading-footer
                  h4 ¡Síguenos!
                a(href="https://twitter.com/animagensweb", target="_blank")
                  span.fa.fa-twitter.bordered-icon.bordered-icon-sm.mb5.mt10
            // /row
            // Copyright
            .row
              hr
              .col-sm-12.text-center
                p.copyright.mb15
                  | © 2016 Animagens. All rights reserved.
                a.scroll-top(href='#')
                  .footer-scrolltop-holder(style='float:none;display: inline-block;')
                    span.ion-ios7-arrow-up.footer-scrolltop
            // /row
          // /container
        // /footer
        // End Footer
      // /boxed
    // /bg boxed
    // End Boxed or Fullwidth Layout
    script(src='js/animagens/googleanalytics.js')
    script(type='text/javascript', src='js/animagens/login.js')
    script(type='text/javascript', src='js/colorpicker/js/bootstrap-colorpicker.min.js')
    script(type='text/javascript', src='sockets/socket.io.js')
    script(type='text/javascript', src='sockets/sockets.js')
    script(type='text/javascript').
      var isTest = !{JSON.stringify(context.isTest)}
    - if (context.user) {
    script(type='text/javascript').
      var userData = !{JSON.stringify(context.user)}
    - }