extends layout

block content
    // Begin Content Section
    section.mt40.mb30
      .container
        p.lead.text-center
          | Beneficios por
          b
            mark Nivel
        hr.double-hr(style='width:400px')
        // Begin We Are Dedicated
        .row.mb20
          .col-md-4.col-md-offset-4
            h3 NIVEL 0
            ul
              li Máximo de 3 Posts/Día.
              li Máximo de 10 Comentarios/Día.
            h3 NIVEL 1
            ul
              li Cambio de color en los mensajes de chat.
              li Máximo ampliado a 20 Comentarios/Día.
              li Acceso a la Tienda. (En construcción)
              li Seleccionar respuesta favorita en un post propio. (En construcción)
            h3 NIVEL 2
            ul
              li Cambio a cursiva en los mensajes de chat.
              li Máximo ampliado 5 Posts/Día.
              li Posibilidad de tener una sala propia de chat.
              li Posibilidad de crear posts con votación incluida.
            h3 NIVEL 3
            ul
              li Cambio a negrita en los mensajes de chat.
              li Ampliado el límite de salas de chat creadas a 2.
              li Posibilidad de crear salas de chat de debate. (En construcción)
              li Eliminado el límite de comentarios diarios.
            h3 NIVEL 4
            ul
              li Posibilidad de invocar otros usuarios. (En construcción)
              li Posibilidad de regalar Animas a otros usuarios. (En construcción)
            h3 NIVEL 5
            ul
              li Ampliado el límite de salas de chat creadas a 3.
              li Eliminado el límite de posts diarios.
            // End We Are Dedicated
            // Javascript Files
            script(type='text/javascript', src='js/bootstrap.min.js')
            script(type='text/javascript', src='js/jquery.easing.min.js')
            script(type='text/javascript', src='js/jquery.mixitup.min.js')
            script(type='text/javascript', src='js/scrollReveal.js')
            script(type='text/javascript', src='js/owl.carousel.min.js')
            script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
            script(type='text/javascript', src='js/jquery.snippet.min.js')
            script(type='text/javascript', src='js/jquery.fitvids.js')
            script(type='text/javascript', src='js/style-switcher.js')
            // Remove for production
            script(type='text/javascript', src='js/activate-snippet.js')
            script(type='text/javascript', src='js/skrollr.min.js')
            // On Scroll Animations - scrollReveal.js
            script.
              var config = {
              easing: 'hustle',
              mobile:  true,
              delay:  'onload'
              }
              window.sr = new scrollReveal( config );
            // Main Javascript
            script(type='text/javascript', src='js/main.js')