extends layout
  
block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row
          .col-sm-12
            .blog-post
              .view.image-hover-1.no-margin.big-center-cropped(style="background-image: url(/img/dots.jpg);")
                // Blog Thumb
                img.img-responsive(src='/img/dots.jpg', alt='...')
                .mask
                  .image-hover-content
                    a.info(data-toggle='modal', data-target='#uploadImage')
                      .image-icon-holder
                        span.ion-ios7-upload.image-icons
                  // /image hover content
                // /mask
              // /image hover
              .blog-post-holder
                form(id='newPostForm', method="post")
                  input(id="display_img", type="hidden", name="display_img")
                  h2
                    input(type="text", name="title", class="form-control", placeholder="Titulo", required, minlength="7", maxlength="50")
                  div(class="form-group")
                    label(for="category_sel") Categoria:
                    select(class="form-control", id="category_sel", name="category_id")
                      each val in categories
                        option(value=val._id, title=val.description, selected=category_id == val._id) #{val.title}
                  div(class="post-body")
                    textarea(id="newPostContent", name="content", rows="20", minlength="50", maxlength="55000")
                    - if (context.user.level >= 2) {
                    div(class="row" style="margin-top: 10px; margin-bottom: 10px;")
                      label(for="votingType") Tipo de votación
                      select(id="votingType", name="votingName", onchange="votingChanged()")
                        option(value="none") Ninguna
                        option(value="single") Elección única
                        option(value="multiple") Elección múltiple
                        option(value="range") Valoración por nota
                    div(id="votingContent", class="row" style="margin-top: 10px; margin-bottom: 10px;")
                      label(for="votingType") Opciones
                      div(id="choiceList")
                      .form-group
                        span(class="input-group-btn")
                          button(type="button", class="btn btn-info", onclick="addOption()", title="AÃ±adir a la lista.")
                            span(class="glyphicon glyphicon-plus")
                          button(type="button", class="btn btn-danger", onclick="removeLastOption()", title="Eliminar de la lista.")
                            span(class="glyphicon glyphicon-minus")
                    - }
                    div(class="row")
                        - if (context.user.permissions.admin) {
                        i.pull-right
                          div(class="checkbox-inline")
                            label
                              input(type="checkbox", name="fixed")
                              | Post fijado
                        - }
                        div(id="captcha")
                            != recaptcha_form
                        button(id="send_button", type="submit", class="btn btn-rw btn-info") Crear
    // /content
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/animagens/newpost.js')