extends layout

block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row
          .col-sm-12.mb20
            p.lead.text-center.flipInY-animated.flipInY.animated
              | Notificaciones
              b                
        .row
          each not in notifications
            .col-md-4
              .product(style="padding: 5px; height: 100px;", id=not._id, onmouseover="watchNot('" + not._id + "')", onclick="watchNot('" + not._id + "')", class=(not.watched ? "watched" : ""))
                - if (not.img != undefined) {
                i.pull-right
                  img(style="width:25px; height: 25px;", src=not.img)
                - }
                div
                  a(href=not.link, target="_blank") #{not.title}
                div.small #{not.content}
          
    // /content
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')