extends layout
  
block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row(style="margin-bottom: 100px;")
          .col-sm-8
            .blog-post
              .view.image-hover-1.no-margin.big-center-cropped(style="background-image: url('" + post.display_img + "');")
                // Blog Thumb
                img.img-responsive(src=post.display_img, alt='...')
                .mask
                  .image-hover-content
                    // Zoom + Blog Link
                    a.info.image-zoom-link(href=post.display_img)
                      .image-icon-holder
                        span.ion-ios7-search.image-icons
                    a.info(href='#')
                      .image-icon-holder
                        span.ion-link.image-icons
                  // /image hover content
                // /mask
              // /image hover
              .blog-post-holder
                input(id="post_id", name="post_id", type="hidden", value=post._id)
                ul.list-inline.posted-info
                  - var userInLikes = context.user ? false : true;
                  div(id=post._id + '-show', class="likes")
                    each l in likes
                      - if (!userInLikes) {
                      - userInLikes = l.user_ids.indexOf(context.user._id.toString()) > -1;
                      - }
                      div(style="display: inline;")
                        img(src=l.img, title=l.description)
                        span(class=l._id) #{l.amount}
                  - if (!userInLikes) {
                  i.pull-right
                    div(id=post._id, class="validation")
                  - }
                  li
                    | Por  
                    a(href='/viewuser?user=' + owner.nickname, title=owner.nickname) #{owner.alias}
                      span(style="color:gold;")  N.#{owner.level}
                  li Creado en #{dateTime}
                hr.mt15.mb10(align='left', style='width:50px;')
                h2
                  a(href='#') #{post.title}
                div(id="post_content") !{post.content}
                - if (voting != undefined) {
                div(id="voting_results")
                  hr(style="background-color:#888;")
                  h3 Votación:
                  each c, index in voting.options
                    .row(style="margin-bottom: 5px")
                      .col-md-10
                        p.progress-head #{c.name}
                      - if (c.img != undefined && c.img != '') {
                      .col-md-2
                        .view.image-hover-1.no-margin(style="width: 60px; max-height: 60px; background-image: url('" + post.display_img + "');")
                          img.img-responsive(src=c.img, alt='...', style="width: 60px; max-height: 60px;")
                          .mask
                            .image-hover-content
                              a.info.image-zoom-link(href=c.img)
                                .image-icon-holder
                                  span.ion-ios7-search.image-icons
                      - }
                    .row
                      .progress
                        .progress-bar.progress-bar-primary(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: ' + votingPercentage[index] + '%')
                          span.progress-bar-tooltip(style='opacity: 1;') #{parseFloat(Math.round(votingPercentage[index] * 100) / 100).toFixed(2)}%
                - }
                - if (owner.signature && owner.signature != '') {
                hr(style="background-color:#888;")
                div(id="signature", class="message-signature", style="padding-left: 5%; padding-right: 5%;") !{owner.signature}
                - }
                - if (context.user && (context.user.permissions.admin || post.owner_id == context.user._id)) {
                a(href='/editpost?pid=' + post._id)
                  small Editar
                - }
              .blog-comment.mt30
                .heading.mb30
                  h4 Comentarios
                ul.comments
                  each c, index in comments
                    li.clearfix
                      img.avatar(src=commUserData[index].profile_img, alt='')
                      strong(style="display: block; color: gold; margin-left: 70px;") #{commUserData[index].level}
                      .post-comments
                        div.row
                          - var userInLikes = context.user ? false : true;
                          div.col-md-9(id=c._id + '-show', class="likes")
                            each l in commLikes[index]
                              - if (!userInLikes) {
                              - userInLikes = l.user_ids.indexOf(context.user._id.toString()) > -1;
                              - }
                              div(style="display: inline;")
                              img(src=l.img, title=l.description)
                              span(class=l._id) #{l.amount}
                          - if (!userInLikes) {
                          div.col-md-3
                            i.pull-right
                              div(id=c._id, class="validation")
                          - }
                        p.meta
                          | #{commUserData[index].dateTime}
                          a(href='/viewuser?user=' + commUserData[index].nickname) #{commUserData[index].alias}
                          |  dijo :
                          - if (context.user && (category.moderators.indexOf(context.user._id) > -1 || context.user.permissions.admin)) {
                          i.pull-right
                            a(href='#' + c._id, onclick="beginEditComment('" + c._id + "', " + index + ")")
                              small Editar
                          - }
                        div(id="message-content-" + index, class="message-content") !{c.content}
                        button.btn.btn-rw.btn-info(id="message-edit-save-" + index, style="display: none;", type="button", onclick="saveComment('" + c._id + "', " + index + ")") Guardar
                        - if (voting != undefined && preparedVotes[c.owner_id] != undefined) {
                        hr
                        p Votos:
                        - if (voting.choice_type == 'range' && preparedVotes[c.owner_id].values != undefined) {
                          each v in preparedVotes[c.owner_id].values
                            span #{v.name}: #{v.value}
                            br
                        - } else if (preparedVotes[c.owner_id].chosens != undefined) {
                          each v in preparedVotes[c.owner_id].chosens
                            span - #{v}
                        - }
                        - }
                        - if (commUserData[index].signature && commUserData[index].signature != '') {
                        hr
                        div(id="message-signature-" + index, class="message-signature", style="padding-left: 5%; padding-right: 5%;") !{commUserData[index].signature}
                        - }
              - if (comments.length == 5) {
              .row(id="commentsLoader", style="text-align: center;")
                a.button.button-glow.button-border.button-rounded.button-primary(style="margin-bottom: 15px;", href="#commentsLoader", onclick="loadComments()") VER MÁS COMENTARIOS
              - }
              - if (context.user) {
              .panel.panel-default.no-margin
                .panel-body
                  form(id="commentform", method="post")
                    input(id="post_id", name="post_id", type="hidden", value=post._id)
                    - if (voting != undefined && canVote) {
                    h3 Votar:
                    - if (voting.choice_type == 'single') {
                    each c, index in voting.options
                      .row
                        input(type="radio", name="choice", value=c.name, required)
                        span #{c.name}
                    - } else if (voting.choice_type == 'multiple') {
                    each c, index in voting.option
                      .row
                        input(type="checkbox", name="choice_" + index, value=c.name)
                        span #{c.name}
                    - } else if (voting.choice_type == 'range') {
                    each c, index in voting.options
                      span #{c.name}
                      .row(style="margin: 10px;")
                        input.optionSlider(id=c.name.replace(/ /g,'_'), name=c.name, data-slider-id=c.name, type='text', data-slider-min='0', data-slider-max='10', data-slider-step='0.5', data-slider-value='5')
                        b(id=c.name.replace(/ /g,'_') + '_label', style="margin-left: 10px") 5
                    - }
                    hr(style="background-color:#888;")
                    - }
                    textarea(id="newComment", name="content", rows="10", maxlength="55000", novalidate)
                    button.btn.btn-rw.btn-info(type='submit') Comentar
              - }
          // Sidebar
          .col-sm-4
            .content-box.content-box-bordered.mt30-xs.mb30
              a(href='/forum?c=' + category._id)
                span.ion-android-earth.bordered-icon-color.bordered-icon-sm
                h4.pt15 #{category.title}
                p.no-margin #{category.description}
            .blog-heading
              h3 ÍNDICE
            ul.nav.nav-pills.nav-stacked.mb30
              li
                a(href='/') INICIO
              li
                a(href='/forum') ACTIVIDAD RECIENTE
              li
                a(href='/newpost') CREAR POST
              li
                a(href='#') TIENDA
            .blog-heading
              h3 Últimos posts
            ul.list-unstyled.latest-posts
              each p, i in lastPosts
                li
                  h3.no-margin
                    a(href='/post?pid=' + p._id) #{p.title}
                  small
                    | #{userList[i].dateTime} / 
                    a(href='/viewuser?user=' + userList[i].owner_nickname) #{userList[i].owner_alias}
                  div !{p.content}
    // /content
    // End Content Section
    each val, index in valorations
        input(id="ddData_" + index, type="hidden", value=JSON.stringify(valorations[index]))
    
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      };
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/animagens/ddslick.js')
    script(type='text/javascript', src='js/animagens/post.js')