extends layout

block content
    // Begin Content
    .mt100.mb100
      .container
        .row
          // Begin Login
          .col-sm-12.text-center.flipInY-animated
            p
              mark.lead.heavy.no-margin El registro se ha llevado a cabo satisfactoriamente.
            .error-404
              p.lead Se ha enviado un correo a la cuenta de email proporcionada con tal de finalizar el proceso. 
              p.lead
                a(href='/') Volver al inicio
        // /row
      // /container
    // /content
    // End Content
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
        