extends layout

block content
    // Begin Content
    .content-40mg
      .container
        .row
          // Begin Login
          .col-sm-6
            .panel.no-margin.panel-default
              .panel-heading Entra con tu cuenta
              .panel-body
                form(id="loginform", method='post')
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-android-mail(style='font-size:9px;')
                      input.form-control(name='loginuser', type='text', placeholder='Usuario o Email')
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-ios7-locked
                      input.form-control(name="loginpassword", type='password', placeholder='Password')
                  hr.mb20.mt15
                  button.btn.btn-rw.btn-primary(type='button', onclick="registerLogin()") Entra
                  small
                    a(href='#' onclick='sendRequestPass()') ¿Has olvidado la contraseña? Solicita una nueva
                // /form
              // /panel body
            // /panel
          // /column
          // End Login
          // Begin Register
          .col-sm-6.mt30-xs
            .panel.no-margin.panel-default
              .panel-heading Crear una cuenta
              .panel-body
                form(id="registerform", method='post')
                  .form-group
                    input.form-control(type="text", name="nickname", placeholder="Nombre de usuario", required, minlength="4", maxlength="23")
                  .form-group
                    label Fecha de nacimiento
                    input.form-control(type="text", name="birth", id="birthpicker", required)
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-android-mail(style='font-size:9px;')
                      input.form-control(type="email", name="email", placeholder="Email", required, maxlength="80")
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-android-mail(style='font-size:9px;')
                      input.form-control(type="email", name="repemail", placeholder="Repetir Email", required, maxlength="80")
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-ios7-locked
                      input.form-control(type="password", name="registerpassword", placeholder="Password", required, minlength="7", maxlength="40")
                  .form-group
                    .input-group
                      .input-group-addon
                        span.ion-ios7-locked
                      input.form-control(type="password", name="reppassword", placeholder="Repetir Password", required, minlength="7", maxlength="40")
                  .form-group
                    input.form-control(type="text", name="alias", placeholder="Alias", required, minlength="4", maxlength="30")
                  .checkbox
                    label
                      input(type='checkbox', required)
                      |  Acepto 
                      a(href="/terms") las condiciones. 
                  div(id="captcha")
                    != recaptcha_form
                  hr.mt20.mb20
                  button.btn.btn-rw.btn-primary(type='submit') Registrarse
                // /form
              // /panel body
            // /panel
          // /column
          // End Register
        // /row
      // /container
    // /content
    // End Content
    // /boxed
    // /bg boxed
    // End Boxed or Fullwidth Layout
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
    script(src='js/datepicker/js/moment.js')
    script(src='js/datepicker/js/bootstrap-datetimepicker.min.js')
    script(src='js/animagens/register.js')
    
