extends layout

block content
    // Begin Content Section
    section.mt40.mb40
      .container
        .row
          .col-sm-12.mb20
            p.lead.text-center.flipInY-animated.flipInY.animated
              | Buscando: 
              b
                mark #{query}
        .row
          .col-sm-6
            .heading-footer
              h4 Users
            each u in users
              p.mb10(data-sr='enter right over .8s')
                a(href='/viewuser?user=' + u.nickname) #{u.nickname} - Alias: #{u.alias}
              
          .col-sm-6
            .heading-footer
              h4 Posts
            each post in posts
              p.mb10(data-sr='enter right over .8s')
                a(href='post?pid=' + post._id) #{post.title} - #{post.content.substring(0,50) + '...'}
                        
    // /content
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')