extends layout

block content
    // Begin Content Section
    section.mt40.mb30
      .container
        p.lead.text-center
          b
            mark Tienda
        hr.double-hr(style='width:400px')
        // Begin We Are Dedicated
        .row.mb20
          .col-sm-12
            h3 EN CONSTRUCCIÓN
            p.mb10(data-sr='enter right over .8s') Pronto podremos disfrutar de una magnífica tienda de regalos :)
            // End We Are Dedicated
            // Javascript Files
            script(type='text/javascript', src='js/bootstrap.min.js')
            script(type='text/javascript', src='js/jquery.easing.min.js')
            script(type='text/javascript', src='js/jquery.mixitup.min.js')
            script(type='text/javascript', src='js/scrollReveal.js')
            script(type='text/javascript', src='js/owl.carousel.min.js')
            script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
            script(type='text/javascript', src='js/jquery.snippet.min.js')
            script(type='text/javascript', src='js/jquery.fitvids.js')
            script(type='text/javascript', src='js/style-switcher.js')
            // Remove for production
            script(type='text/javascript', src='js/activate-snippet.js')
            script(type='text/javascript', src='js/skrollr.min.js')
            // On Scroll Animations - scrollReveal.js
            script.
              var config = {
              easing: 'hustle',
              mobile:  true,
              delay:  'onload'
              }
              window.sr = new scrollReveal( config );
            // Main Javascript
            script(type='text/javascript', src='js/main.js')