extends layout

block content
    // Begin Content Section
    section.mt40.mb30
      .container
        p.lead.text-center
          | Términos y  
          b
            mark Condiciones
        hr.double-hr(style='width:400px')
        // Begin We Are Dedicated
        .row.mb20
          .col-sm-12
            h3 CONDICIONES GENERALES DE UTILIZACIÓN DEL SERVICIO
            p.mb10(data-sr='enter right over .8s') Animagens es un servicio que permite el intercambio de ideas, opiniones y experiencias creativas de todo tipo mediante diversas herramientas y funciones.
            h3 RESPONSABILIDADES
            p.mb10(data-sr='enter right over .8s') De la sociedad: Toda la información en este sitio es proporcionada como se encuentra. La sociedad no da ninguna garantía, explícita o implícita y no asume ninguna responsabilidad relativa a la utilización de esta información. La información aquí contenida está sujeta a modificaciones y/o actualizaciones sin ningún preaviso.
            p.mb10(data-sr='enter right over .8s') Del usuario: El usuario del sitio es responsable de los daños de toda clase, materiales o inmateriales, indirectos, causados a todo tercero, incluido animagens.es, que ocurran del hecho de la utilización o de la explotación ilícita del sitio o de sus elementos; cualquiera que sea la causa y el lugar de acontecimiento de estos daños. El usuario garantiza a animagens.es de las consecuencias de las reclamaciones o acciones cuyo objeto podría ser. El usuario de animagens.es renuncia a ejercer todo recurso contra animagens.es en el caso de actuaciones diligenciadas por un tercero a su contra a causa de la utilización y/o de la explotación ilícita del sitio animagens.es.
            h3 RESPONSABILIDAD DEL NOMBRE DE USUARIO Y DE LA CONTRASEÑA
            p.mb10(data-sr='enter right over .8s') Durante el registro, recibirás una contraseña y un nombre de usuario. Eres responsable de mantener la confidencialidad de la contraseña y del nombre de usuario y eres totalmente responsable de todas las actividades que se producen bajo tu contraseña. Tienes que avisar inmediatamente a animagens.es si se efectúa una utilización no autorizada de tu contraseña o de tu cuenta u otra infracción de seguridad, y tienes que asegurarte que sales de tu cuenta al fin de cada sesión. animagens.es no puede y no se considerará como responsable de las pérdidas o daños que resultarán de un incumplimiento a esta condición.
            h3 RESPONSABILIDAD DE CONTENIDO
            p.mb10(data-sr='enter right over .8s') Reconoces y admites que toda información, códigos, datos, textos, programas informáticos, música, fotografías, imágenes, gráficos, video, chat, mensajes, carpetas y otros contenidos, públicamente señalado o transmitido en privado, son la responsabilidad única de la persona al origen del contenido. Eso significa que tú y no animagens.es, eres totalmente responsable de todo el contenido que cargas, posteas, envías por correo electrónico o transmites de otra manera por medio de los servicios. En ninguna circunstancia animagens.es será responsable de ninguna manera y de ningún contenido del usuario o de un tercero, incluido, pero no limitado, de los errores u omisiones en tal contenido o de cualquier pérdida o daños ocurridos debido a la utilización de tal contenido indicado, enviado por correo electrónico o transmitido de otra manera por medio de los servicios.
            h3 DATOS Y SEGURIDAD
            p.mb10(data-sr='enter right over .8s') Lo necesario se efectúa para evitar toda disminución de rapidez del servicio o tiempo de parada inesperada de los servicios pero no es posible prever estas disminuciones o estos tiempos de parada. Ningún problema de red, de servidor u otras averías no está cubierto bajo ninguna garantía. Ningún reembolso puede considerarse por una parada de servicio, un daño o una pérdida de contenido. Se han establecido varios sistemas para garantizar la seguridad del contenido. Con la misma intención se efectúa una copia de seguridad del conjunto de los datos periódicamente.
            h3 UTILIZACIÓN DE SUS DATOS PERSONALES
            p.mb10(data-sr='enter right over .8s') Al utilizar este sitio, estás de acuerdo a la utilización por nuestro sitio de datos personales que se refieren a ti. Estos datos son necesarios para enviarte en particular newsletters y permitirte beneficiar de algunos servicios ofrecidos por este sitio.
            p.mb10(data-sr='enter right over .8s') Podemos compartir información no personal en forma colectiva con terceros.
            p.mb10(data-sr='enter right over .8s') Podríamos también comunicar informaciones a terceros en circunstancias precisas en particular a petición de una autoridad pública, con fines de prevención de los fraudes o de daños inminentes, o también con el fin de garantizar la seguridad de nuestra red y de nuestros servicios.
            p.mb10(data-sr='enter right over .8s') Puedes rechazar darnos estas informaciones personales y / o rechazar los cookies en tu navegador. No obstante, eso puede perturbar el funcionamiento de algunos servicios o funciones.
            p.mb10(data-sr='enter right over .8s') En la medida de lo posible y previa petición, podrás acceder a tus informaciones personales y corregirlas o eliminarlas en caso de error.
            h3 COOKIES
            p.mb10(data-sr='enter right over .8s') El almacenamiento de cookies permite al usuario disfrutar plenamente de los servicios ofrecidos en Animagens. Sin embargo, es decisión del usuario determinar a su entera discreción si él desea o no autorizar su uso. El usuario reconoce estar advertido que el bloqueo de todo tipo de cookies afecta al buen funcionamiento de los servicios de Animagens.
            p.mb10(data-sr='enter right over .8s') La mayoría de los navegadores web tienen la capacidad de gestionar las cookies individualmente. El menú Ayuda incluido en el navegador describe como rechazar el almacenamiento de cookies y definir las reglas para dirigirlas sitio por sitio. Puede denegar el almacenamiento de cookies para todos los sitios, excepto en aquellos en quienes confía. Más información sobre el manejo de las cookies está disponible en el navegador utilizado por el usuario.
            h3 CONTENIDO ILÍCITO
            p.mb10(data-sr='enter right over .8s') Los contenidos que acogen o favorecen la piratería de programas informáticos, el hacking, el spamming, el alojamiento y/o distribución de contenido que es objeto de los derechos de autor, los ataques contra redes o servidores, el contenido de carácter sexual y/o pornográfico, contenido violento o incitando al odio racial, los crímenes hacia la humanidad, la venta y/o intercambio de medicamentos que requieren receta médica, o de medicamentos sin receta, la venta y/o intercambio de drogas y otras sustancias ilícitas, las páginas de phishing y/o malware, el fraude a tarjetas bancarias o toda otra actividad que viola las leyes en vigencia no son permitidos. Se suprimirá sin preaviso todo contenido que contenga textos, enlaces, imágenes, animaciones, videos y cualquier otro contenido dado por ilegal. animagens.es se reserva el derecho a suprimir toda cuenta juzgada no conforme. Todo contenido o acto ilegal podrá informarse a los servicios interesados y podrá ser tratado en justicia.
            h3 LIMITACIONES DE LOS SERVICIOS
            p.mb10(data-sr='enter right over .8s') Se pueden utilizar únicamente los productos y los servicios en el objetivo previsto para los cuales tales productos y servicios se han facilitado. No puedes utilizar los productos y los servicios, o asociar los productos y los servicios a todo contenido o actividades que afectarían al derecho privado de la persona:
            p.mb10(data-sr='enter right over .8s') - Contenido ilegal, nocivo, amenazante, abusivo, difamatorio, vulgar, obsceno u éticamente reprensible
            p.mb10(data-sr='enter right over .8s') - Contenido que revela información personal permitiendo identificar a menores de 18 años o que explota imágenes.
            h3 RESPETO DE LOS DERECHOS DE PROPIEDAD Y MARCAS
            p.mb10(data-sr='enter right over .8s') El conjunto de los elementos que ves, que lees en el sitio es protegido por la legislación sobre los derechos de autor. No puedes en ningún caso utilizar, distribuir, copiar, reproducir, modificar, desvirtuar o trasmitir el sitio o elementos del sitio, como textos e imágenes sin la autorización escrita y previa de la sociedad. Las marcas y logotipos que figuran en el sitio son la propiedad de la sociedad o son objeto de una autorización de utilización. Ningún derecho o licencia podrá asignarse sobre cualquiera de estos elementos sin la autorización escrita de la sociedad o del tercero, tenedor de los derechos en la marca o logotipos que figuran en el sitio. La sociedad se reserva el derecho de perseguir todo acto de falsificación de sus derechos de propiedad intelectual, incluido en el marco de una acción penal.
            h3 MODIFICACIÓN DE LAS CONDICIONES GENERALES
            p.mb10(data-sr='enter right over .8s') Se pueden modificar estas condiciones generales en cualquier momento, a la discreción de animagens.es. Todas las cuentas deberán ajustarse a todos los cambios hechos a estas políticas, con un preaviso de 30 días.
            h3 ACEPTACIÓN
            p.mb10(data-sr='enter right over .8s') Al utilizar los servicios de animagens.es, aceptas, sin limitación o calificación, estar de acuerdo, y satisfacer los servicios así como sus modificaciones específicas y todas las demás directivas indicadas o normas aplicables a cualquier servicio específico.
            // End We Are Dedicated
            // Javascript Files
            script(type='text/javascript', src='js/bootstrap.min.js')
            script(type='text/javascript', src='js/jquery.easing.min.js')
            script(type='text/javascript', src='js/jquery.mixitup.min.js')
            script(type='text/javascript', src='js/scrollReveal.js')
            script(type='text/javascript', src='js/owl.carousel.min.js')
            script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
            script(type='text/javascript', src='js/jquery.snippet.min.js')
            script(type='text/javascript', src='js/jquery.fitvids.js')
            script(type='text/javascript', src='js/style-switcher.js')
            // Remove for production
            script(type='text/javascript', src='js/activate-snippet.js')
            script(type='text/javascript', src='js/skrollr.min.js')
            // On Scroll Animations - scrollReveal.js
            script.
              var config = {
              easing: 'hustle',
              mobile:  true,
              delay:  'onload'
              }
              window.sr = new scrollReveal( config );
            // Main Javascript
            script(type='text/javascript', src='js/main.js')