extends layout

block content
    // Begin Content Section
    section.content-40mg
      form(method='post')
        .container
          .row
            .col-sm-3.text-center
              .content-box-profile.content-box-bordered.no-margin
                - if (context.user && (context.user.nickname == data.nickname || context.user.permissions.admin)) {
                // Image
                img#profileAvatarImg.img-responsive(src=data.profile_img, alt='...')
                .mask
                  .image-hover-content
                    a.info(data-toggle='modal', data-target='#uploadImage')
                      .image-icon-holder
                        span.ion-ios7-upload.image-icons
                // Name
                h4.team-member-name-imgtop
                  input(type="text", name="alias", class="form-control", placeholder="Alias", minlength="4", maxlength="30", value=data.alias)
                  br
                  small.text-muted.no-padding #{data.nickname}
                // About
                .team-description
                  p Edad: #{data.age}
                  p(style="margin: 5px;")
                    strong #{ubox.animas}
                    - if (ubox.animas > 1 || ubox.animas == 0) {
                      |  Animas acumuladas
                    - } else {
                      |  Anima acumulada
                    - }
                - } else {
                // Image
                img.img-responsive.br-2.team-member-profile(src=data.profile_img, alt='Profile')
                // Name
                h4.team-member-name-imgtop
                  | #{data.alias}
                  br
                  small.text-muted.no-padding #{data.nickname}
                // About
                .team-description
                  - if (!data.private) {
                  p Edad: #{data.age}
                  p(style="margin: 5px;")
                    strong #{ubox.animas}
                    - if (ubox.animas > 1 || ubox.animas == 0) {
                      |  Animas acumuladas
                    - } else {
                      |  Anima acumulada
                    - }
                  - }
                - }
                strong
                  a(href="/levels") Nivel #{data.level}
                    .progress(title='Nivel: ' + data.level + ' Experiencia: ' + ubox.experience + '/' + ((data.level+1)*100), style="margin: 0px;")
                      .progress-bar.progress-bar-striped.progress-bar-primary(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: ' + (ubox.experience*100/((data.level+1)*100)) + '%')
            .col-sm-9
              .heading.mb20
                h4 Perfil
              - if (context.user && (context.user.nickname == data.nickname || context.user.permissions.admin)) {
              input(id="nickname", type="hidden", name="nickname", value=data.nickname)
              input(id="profile_img", type="hidden", name="profile_img")
              div(class="form-group col-lg-12")
                label Email
                input(type="email", name="email", class="form-control", placeholder="Email", readonly, maxlength="80", value=data.email)
              div(class="form-group col-lg-12")
                label Fecha de Nacimiento
                input(type="text", name="birth", class="form-control", readonly, value=data.formattedBirth)
              - if (data.level > 0) {
              div(class="form-group col-lg-12")
                label Color de texto en chat
                div(class="input-group textColorPicker")
                  input(name="profile_color", type="text", value=data.profile_color, class="form-control", maxlength="7")
                  span(class="input-group-addon")
              - }
              - if (data.level > 1) {
              div(class="form-group col-lg-12")
                label Cursiva en el chat:
                input(style="display: inline-block; margin-left: 5px;", type="checkbox", class="checkbox", name="italics", checked=data.italics == undefined ? false : data.italics)
              - }
              - if (data.level > 2) {
              div(class="form-group col-lg-12")
                label Negrita en el chat:
                input(style="display: inline-block; margin-left: 5px;", type="checkbox", class="checkbox", name="bold", checked=data.bold == undefined ? false : data.bold)
              - }
              div(class="form-group col-lg-12")
                label Perfil privado:
                input(style="display: inline-block; margin-left: 5px;", type="checkbox", class="checkbox", name="private", checked=data.private)
              div(class="form-group col-lg-12")
                label Firma
                textarea(id="editSignature", name="signature", rows="10", maxlength="300") !{data.signature}
              - if (context.user.nickname == data.nickname) {
              div(class="form-group col-lg-12")
                input(type="password", name="oldpassword", class="form-control", placeholder="Antigua Password", minlength="7", maxlength="40")
              - }
              div(class="form-group col-lg-6")
                input(type="password", name="password", class="form-control", placeholder="Nueva Password", minlength="7", maxlength="40")
              div(class="form-group col-lg-6")
                input(type="password", name="rep-password", class="form-control", placeholder="Repetir Nueva Password", minlength="7", maxlength="40")
              - if (context.user.permissions.super_admin) {
              div(class="form-group col-lg-12")
                label Permisos
                div(class="checkbox form-group col-md-9 col-md-offset-3")
                  input(type="checkbox", name="super_admin", checked=data.permissions.super_admin)
                  label Super-Admin
                div(class="checkbox form-group col-md-9 col-md-offset-3")
                  input(type="checkbox", name="admin", checked=data.permissions.admin)
                  label Admin
                div(class="checkbox form-group col-md-9 col-md-offset-3")
                  input(type="checkbox", name="chat_admin", checked=data.permissions.chat_admin)
                  label Chat Admin
                div(class="checkbox form-group col-md-9 col-md-offset-3")
                  input(type="checkbox", name="chat_moderator", checked=data.permissions.chat_moderator)
                  label Chat Moderador
              - }
              button(type="submit", class="btn btn-primary") Guardar cambios
              - if (context.user.permissions.admin) {
              button(id="ban_id", type="button", style="margin: 5px; display:" + (data.banned ? "none" : "inline") + ";", class="btn btn-warning", onclick="ban('#{data.nickname}', true)") Banear
              button(id="unban_id", type="button", style="margin: 5px; display:" + (data.banned ? "inline" : "none") + ";", class="btn btn-success", onclick="ban('#{data.nickname}', false)") Perdonar
              button(id="remove_id", type="button", style="margin: 5px;",class="btn btn-danger", onclick="removeUser('#{data.nickname}')") Eliminar
              - }
            - } else {
              - if (!data.private) {
              div(class="form-group col-lg-12")
                label Fecha de Nacimiento:
                input(type="text", name="birth", class="form-control", readonly, value=data.formattedBirth)
              div(class="form-group col-lg-12")
                label Color de texto en chat:
                input(name="profile_color", type="text", value=data.profile_color, class="form-control", maxlength="7", readonly)
              div(class="form-group col-lg-12")
                label Firma:
                div(id="signature", class="message-signature", style="padding-left: 5%; padding-right: 5%;") !{data.signature}
              - }
            - }
            - if (context.user && (!data.private || (context.user.nickname == data.nickname || context.user.permissions.admin))) {
            h3 Biografía
            hr
            ul
              each b in bios
                li
                  small #{b.created_at.toLocaleString()}:
                  strong  #{b.msg}
                  row(style="display: block;")
                    span +#{b.experience} Experiencia
                  - if (b.animas > 0) {
                  row(style="display: block;")
                    span +#{b.animas}
                    - if (b.animas > 1) {
                      |  Animas
                    - } else {
                      |  Anima
                    - }
                  - }
                  - if (b.rewards.length > 0) {
                  row(style="display: block;")
                    span Logros:
                    each a in b.rewards
                      img(style="display: inline; width:25px; height: 25px; border: 1px solid black; margin: 5px;", src=a.img, title=a.name + ': ' + a.description)
                  - }
            h3 Logros
              small #{achievements.length} / #{totalAchCount}
              small
                a(href="/achievements") Ver todos
            hr
            each a in achievements
              img.ach(style="width:40px; height: 40px; border: 1px solid black; margin: 5px;", src=a.img, data-original-title=a.name, onmouseover="$(this).tooltip('show')", onclick="$(this).tooltip('show')", onmouseout="$(this).tooltip('hide')", onblur="$(this).tooltip('hide')")
            - }
            div
              - if (context.user && context.user.nickname != data.nickname) {
              small
                a(href="/chatbox?u=" + data._id)  Abrir chat
              - }
          // /row
        // /cta
    // End Content Section
    // Javascript Files
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.easing.min.js')
    script(type='text/javascript', src='js/jquery.mixitup.min.js')
    script(type='text/javascript', src='js/scrollReveal.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.min.js')
    script(type='text/javascript', src='js/jquery.snippet.min.js')
    script(type='text/javascript', src='js/jquery.fitvids.js')
    script(type='text/javascript', src='js/style-switcher.js')
    // Remove for production
    script(type='text/javascript', src='js/activate-snippet.js')
    script(type='text/javascript', src='js/skrollr.min.js')
    // On Scroll Animations - scrollReveal.js
    script.
      var config = {
      easing: 'hustle',
      mobile:  true,
      delay:  'onload'
      }
      window.sr = new scrollReveal( config );
    // Main Javascript
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/animagens/viewuser.js')
